################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/c00eb7c1-9b77-40c3-b0ee-b3812a906434.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/76865ef8-992e-4051-9ac4-2f93cfd4d05a.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/516583c0-5824-4809-85cb-5b0189ddc768.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/175268e7-6c2e-4f07-a47e-0bea30c1e781.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/1855ce60-b9c4-408e-8929-4b88f60e4835.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/2669cb4f-ee3c-4ae2-bad7-2fb23fe94092.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/473386ec-9a51-41f5-b9f2-133809991b3a.vsidx
/e-commerce/Core/bin/Debug/net6.0/Core.dll
/e-commerce/Core/bin/Debug/net6.0/Core.pdb
/e-commerce/Core/obj/Core.csproj.nuget.dgspec.json
/e-commerce/Core/obj/Core.csproj.nuget.g.props
/e-commerce/Core/obj/Debug/net6.0/Core.assets.cache
/e-commerce/Core/obj/Debug/net6.0/Core.csproj.CoreCompileInputs.cache
/e-commerce/Core/obj/Debug/net6.0/Core.dll
/e-commerce/Core/obj/Debug/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
/e-commerce/Core/obj/Debug/net6.0/Core.pdb
/e-commerce/Core/obj/Debug/net6.0/ref/Core.dll
/e-commerce/Core/obj/Debug/net6.0/refint/Core.dll
/e-commerce/Core/obj/project.assets.json
/e-commerce/Core/obj/project.nuget.cache
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/0ccfdfc5-f31d-4825-a7b7-f89b21a9d048.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/53cd4409-aa27-4dff-a74b-d94e1450a75a.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/5b7d0fef-dec8-4807-81e7-a24973c3fec9.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/957169c0-8e15-49b9-b9f9-f9c0711f48d7.vsidx
/e-commerce/e-commerce.Api/.vs/ProjectEvaluation/e-commerce.api.projects.v6.1
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/d7e74cc9-9b44-427a-81de-cd4b69ca8876.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/d650d2a2-f745-4a32-b1e5-be3c2a983ab7.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/a385a2f0-d270-473f-87b9-4670e8bf534c.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/9b8dc9f1-4f81-4dbc-ae8f-95fbd5d4ba0c.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/7b7977dd-c643-4c04-a1d8-007211d5872a.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/0344a486-631a-4101-b187-e93562d2093e.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/DesignTimeBuild/.dtbcache.v2
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/config/applicationhost.config
/e-commerce/e-commerce.Api/bin/Debug/net6.0/Infrastracure.pdb
/e-commerce/e-commerce.Api/bin/Debug/net6.0/Infrastracure.dll
/e-commerce/e-commerce.Api/bin/Debug/net6.0/e-commerce.Api.staticwebassets.runtime.json
/e-commerce/e-commerce.Api/bin/Debug/net6.0/e-commerce.Api.pdb
/e-commerce/e-commerce.Api/bin/Debug/net6.0/e-commerce.Api.exe
/e-commerce/e-commerce.Api/bin/Debug/net6.0/e-commerce.Api.dll
/e-commerce/e-commerce.Api/bin/Debug/net6.0/e-commerce.Api.deps.json
/e-commerce/e-commerce.Api/bin/Debug/net6.0/Core.pdb
/e-commerce/e-commerce.Api/bin/Debug/net6.0/Core.dll
/e-commerce/e-commerce.Api/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/e-commerce/e-commerce.Api/bin/Debug/net6.0/AutoMapper.dll
/e-commerce/e-commerce.Api/bin/Debug/net6.0/appsettings.json
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/v17/.suo
/e-commerce/e-commerce.Api/obj/Debug/net6.0/staticwebassets/msbuild.e-commerce.Api.Microsoft.AspNetCore.StaticWebAssets.props
/e-commerce/e-commerce.Api/obj/Debug/net6.0/refint/e-commerce.Api.dll
/e-commerce/e-commerce.Api/obj/Debug/net6.0/ref/e-commerce.Api.dll
/e-commerce/e-commerce.Api/obj/Debug/net6.0/e-commerce.Api.genruntimeconfig.cache
/e-commerce/e-commerce.Api/obj/Debug/net6.0/e-commerce.Api.dll
/e-commerce/e-commerce.Api/obj/Debug/net6.0/e-commerce.Api.csproj.FileListAbsolute.txt
/e-commerce/e-commerce.Api/obj/Debug/net6.0/e-commerce.Api.csproj.CoreCompileInputs.cache
/e-commerce/e-commerce.Api/obj/Debug/net6.0/e-commerce.Api.csproj.AssemblyReference.cache
/e-commerce/e-commerce.Api/obj/Debug/net6.0/e-commerce.Api.assets.cache
/e-commerce/e-commerce.Api/obj/Debug/net6.0/apphost.exe
/e-commerce/e-commerce.Api/obj/project.nuget.cache
/e-commerce/e-commerce.Api/obj/project.assets.json
/e-commerce/e-commerce.Api/obj/e-commerce.Api.csproj.nuget.g.props
/e-commerce/e-commerce.Api/obj/e-commerce.Api.csproj.nuget.dgspec.json
/e-commerce/e-commerce.Api/obj/Debug/net6.0/staticwebassets.pack.json
/e-commerce/e-commerce.Api/obj/Debug/net6.0/staticwebassets.development.json
/e-commerce/e-commerce.Api/obj/Debug/net6.0/staticwebassets.build.json
/e-commerce/e-commerce.Api/obj/Debug/net6.0/e-commerce.Api.pdb
/e-commerce/Infrastracure/bin/Debug/net6.0/Infrastracure.pdb
/e-commerce/Infrastracure/bin/Debug/net6.0/Infrastracure.dll
/e-commerce/Infrastracure/bin/Debug/net6.0/Core.pdb
/e-commerce/Infrastracure/bin/Debug/net6.0/Core.dll
/e-commerce/Infrastracure/obj/project.nuget.cache
/e-commerce/Infrastracure/obj/project.assets.json
/e-commerce/Infrastracure/obj/Infrastracure.csproj.nuget.g.props
/e-commerce/Infrastracure/obj/Infrastracure.csproj.nuget.dgspec.json
/e-commerce/Infrastracure/obj/Debug/net6.0/refint/Infrastracure.dll
/e-commerce/Infrastracure/obj/Debug/net6.0/ref/Infrastracure.dll
/e-commerce/Infrastracure/obj/Debug/net6.0/Infrastracure.pdb
/e-commerce/Infrastracure/obj/Debug/net6.0/Infrastracure.genruntimeconfig.cache
/e-commerce/Infrastracure/obj/Debug/net6.0/Infrastracure.dll
/e-commerce/Infrastracure/obj/Debug/net6.0/Infrastracure.csproj.CoreCompileInputs.cache
/e-commerce/Infrastracure/obj/Debug/net6.0/Infrastracure.csproj.AssemblyReference.cache
/e-commerce/Infrastracure/obj/Debug/net6.0/Infrastracure.assets.cache
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/fe33e391-30a4-4f59-9b86-21acf24e3253.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/a827c285-cc1b-49ba-ba65-1d0df7c90277.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/4e2498ed-7f93-493b-9662-193b1fbbf107.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/fa67e349-3f0a-4f24-9b2e-6f36fa7c9863.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/d7cd45e5-3e83-43b0-907c-67722f85e228.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/82240270-a0f6-4f45-afb3-02de6cb417c9.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/0923613f-37ca-44c7-a5e1-e75205cc3210.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/04f62a13-5546-452c-889d-ce24c4b229b7.vsidx
/e-commerce/e-commerce.Api/.vs/ProjectEvaluation/e-commerce.api.metadata.v6.1
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/v17/.futdcache.v2
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/373547af-c49c-49e6-bff3-758aad52502b.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/92c2b892-e0d5-4986-98bd-c83a273e750a.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/fdd04f8b-3c02-4b01-9bd3-e9cb07ad1cc9.vsidx
/e-commerce/e-commerce.Api/obj/Debug/net6.0/e-commerce.Api.GeneratedMSBuildEditorConfig.editorconfig
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/547bd608-c50f-425e-ba22-ce01f76eea2a.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/6201d7a1-a15c-423f-bd8e-edbeac65a3e2.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/a62d8e85-d1f5-4ce5-b3d2-1100dddd883c.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/dd95d283-88a8-4d19-8141-c2620ee1bdd9.vsidx
/e-commerce/Infrastracure/obj/Debug/net6.0/Infrastracure.GeneratedMSBuildEditorConfig.editorconfig
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/1c636ea7-2041-44b1-a3e9-9634b1d13bf7.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/2d66ed92-c540-4dfb-a56d-2efb45621f2e.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/41228f33-272c-4a02-94a3-d77addaa66f7.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/87aa393d-7dc1-4d4f-bb4f-25fe829b42a3.vsidx
/e-commerce/e-commerce.Api/.vs/ProjectEvaluation/e-commerce.api.metadata.v7.bin
/e-commerce/e-commerce.Api/.vs/ProjectEvaluation/e-commerce.api.projects.v7.bin
/e-commerce/Core/obj/Debug/net6.0/Core.csproj.FileListAbsolute.txt
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/0f33b818-c970-4213-9020-1dbcd89c70d2.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/c021c926-f4fc-4dfd-aec4-132292601e2f.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/f458517e-9cb5-43aa-98b9-50c29818c4cb.vsidx
/e-commerce/Infrastracure/obj/Debug/net6.0/Infrastracure.csproj.FileListAbsolute.txt
