################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/1855ce60-b9c4-408e-8929-4b88f60e4835.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/2669cb4f-ee3c-4ae2-bad7-2fb23fe94092.vsidx
/e-commerce/e-commerce.Api/.vs/e-commerce.Api/FileContentIndex/473386ec-9a51-41f5-b9f2-133809991b3a.vsidx
